/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}



/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-right: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */

}


/*------------------------------------------------------------------*/
.color-change {
    color: #264476 !important;
}

.links {
    color: #264476 !important;
    padding-right: 40px !important;
    font-weight: 500;
}

@media (max-width: 992px) {
    .border-container {
        border-top: 0px !important;
        border-bottom: 0px !important;
    }
}

.navbar a:hover, .color-change:hover, .green-text{
    color: #74bd3f !important;
    /*text-decoration: none !important;*/
}

.carousel-item {
    height: 30vh;
    min-height: 350px;
    background: none repeat scroll;
    /*-moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}

dl.legend {
    display: flex;
    flex-flow: row wrap;
    border: groove #b4c6e7;
    border-width: 1px 1px 1px 1px;
}

dt.legend {
    flex-basis: 20%;
    padding: 2px 4px;
}
/*dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    border-bottom: 1px groove #b4c6e7;
}*/
dl.legend > dd:nth-of-type(odd) {
    background: #b4c6e7;
}
/*dl.legend > dd:nth-of-type(even) {
    background: #d9e2f3;
}*/

dl.legend > dd {
    margin-bottom: 0;
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 10px;
    border-bottom: 1px groove #b4c6e7;
}

dl.legend > dt {
    background: #d9e2f3;
    height: 40px;
}

dl.coded > dt {
    background: #d9e2f3;
    height: 40px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/*---------------*/

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.img-responsive {
    width: 100%;
    height: auto;
}

@media (min-width: 992px ) {
    .carousel-inner .active.left {
        left: -25%;
    }

    .carousel-inner .next {
        left: 25%;
    }

    .carousel-inner .prev {
        left: -25%;
    }
}

@media (min-width: 768px) and (max-width: 991px ) {
    .carousel-inner .active.left {
        left: -33.3%;
    }

    .carousel-inner .next {
        left: 33.3%;
    }

    .carousel-inner .prev {
        left: -33.3%;
    }

    .active > div:first-child {
        display: block;
    }

        .active > div:first-child + div {
            display: block;
        }

    .active > div:last-child {
        display: none;
    }
}

@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -100%;
    }

    .carousel-inner .next {
        left: 100%;
    }

    .carousel-inner .prev {
        left: -100%;
    }

    .active > div {
        display: none;
    }

        .active > div:first-child {
            display: block;
        }
}