@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
    <div>
        <h1 class="text-xl md:text-2xl font-bold leading-tight mt-12 pb-6">Log in to your account</h1>
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="text-right form-group col">
                        <a class="text-gray-700" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </div>
                    <div class="form-group col text-left">
                        <div class="checkbox">
                            <label class="text-gray-700"  asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group row pt-3">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="col-sm">
                        <div class="checkbox pt-2">
                            <a class="text-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </div>
                    </div>

                </div>
            </form>
        </section>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
