@model pegasus_library_aspnet.Models.Book

@{
    ViewData["Title"] = "Create";
}


@using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="pt-4">
        <div class="card-header alert-success p-4">
            CREATE BOOK
        </div>
        <form asp-action="Create">
            <div class="card-group">
                <div class="card border-right-0 border-top-0 rounded-0">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ISBN" class="control-label"></label>
                            <input asp-for="ISBN" class="form-control" />
                            <span asp-validation-for="ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AuthorId" class="control-label"></label>
                            <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="GenreId" class="control-label"></label>
                            <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="PublicationDate" class="control-label"></label>
                            <input asp-for="PublicationDate" class="form-control" />
                            <span asp-validation-for="PublicationDate" class="text-danger"></span>
                        </div>
                    </div>
                    </div>
                    <div class="card border-left-0 border-top-0">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="Quantity" class="control-label"></label>
                                    <input asp-for="Quantity" class="form-control" min="0" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ImagePath" class="control-label"></label>
                                    <br/>
                                    <input asp-for="ImagePath" name="imgPath" type="file" />
                                    @*<input name="coverimg" type="file" class="form-control" />*@
                                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                    <div class="card-footer alert-success">
                        <div class="row">
                            <div class="form-group col">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                            <div class="col-6 text-right">
                                <a asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </div>
        </form>
    </div>

}