@model pegasus_library_aspnet.Models.Book

@{
    ViewData["Title"] = "Edit";
}


@using (Html.BeginForm("Edit", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="pt-4">
        <div class="card-header alert-success p-4">
            EDIT BOOK
        </div>
        <form asp-action="Edit">
            <div class="card-group">
                <div class="card border-right-0 border-top-0 rounded-0">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="ISBN" class="control-label"></label>
                            <input asp-for="ISBN" class="form-control" />
                            <span asp-validation-for="ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AuthorId" class="control-label"></label>
                            <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                            <span asp-validation-for="AuthorId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="GenreId" class="control-label"></label>
                            <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                            <span asp-validation-for="GenreId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PublicationDate" class="control-label"></label>
                            <input asp-for="PublicationDate" class="form-control" />
                            <span asp-validation-for="PublicationDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" min="0" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div class="card border-left-0 border-top-0">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImagePath" class="control-label"></label><br />
                            <img src="~/images/@Url.Content(Model.ImagePath)" name="imgPath" width="200" height="200" />
                            @*<input asp-for="ImagePath" name="imgPath" type="file" class="form-control" />*@
                            <input asp-for="ImagePath" class="form-control" />
                            <span asp-validation-for="ImagePath" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.img, new { htmlAttributes = new { @class = "form-control" } })
                                                        <img src="~/images/@Url.Content(Model.ImagePath)" width="100" height="70" />
                                                        <input type="file" id="imgPath" name="imgPath" />
                                                        @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                                        </div>
                            </div>*@
                    </div>
                </div>

            </div>
            <div class="card-footer alert-success">
                <div class="row">
                    <div class="form-group col">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="col-6 text-right">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
